<img src='../letscodebr_cover.jpeg' align='left' width=100%/>

# Ada Tech [DS-PY-002] Programação Orientada a Objetos (PY) Aulas 4 e 5: Programação Orientada a Objetos (POO).

## Our world in data
- [pip install owid-catalog](https://pypi.org/project/owid-catalog/): "Core data types used by OWID for managing data."
- [Our World In Data – Bias and Credibility](https://mediabiasfactcheck.com/our-world-in-data/) : "Overall, we rate Our World in Data (OWID) Left-Center biased due to their story selection (reporting from left perspective) and highly factual due to the utilization of credible sources."

- [seanpm2001/OWID_OWID-Catalog-Py](https://github.com/seanpm2001/OWID_OWID-Catalog-Py)

### A biblioteca OWID

Vamos conhecer algumas funções da biblioteca owid

- Podemos acessar os dados da página [our worldindata](https://ourworldindata.org/);

- OWID API;
  - [pip install owid-catalog](https://pypi.org/project/owid-catalog/): Uma API Pythonica para trabalhar com o catálogo de dados do OWID.
  
    - `Charts` A API tenta fornecer exatamente os dados contidos em um gráfico em do site.
      - owid_slug_value;
      - owid_link_value;


Definimos alguns prefixos para diferentes tipos de dados:

- owidccCF : `<class 'owid.catalog.catalogs.CatalogFrame'>`
- owidctT : `<class 'owid.catalog.tables.Table'>`
- pdf : `<class 'pandas.core.frame.DataFrame'>`

### Explorando a biblioteca

#### `slug_into_dataframe()`:

    Uma função para baixar dados presentes em gráficos (`charts`)

Primeiramente, podemos acessar os dados que apresentam gráficos, através da função `charts.get_data()`.

A última parte da `URL` é o `slug` do gráfico, seu identificador, neste caso a expectativa de vida. Usar o `slug` sozinho também funciona.

Definimos uma função para essa operação.

É possível

#### `slugs_search_value_in_list()`:


    Uma função para procurar valores entre os tópicos da lista de slugs

Podemos acessar qualquer uma dessas bases.

Podemos realizar buscas por palavras chave nas listas de slugs:

E criamos uma função para isso:

Para cada uma dessas bases podemos criar um dicionário, com o nome da base e as colunas que contém.

#### `slugs_columns_to_dictionary()`:

Dada a lista de slugs que contém um determinado valor, é possível procurar por colunas em comum.

E para esse processo criamos uma função.

Se encontrarmos colunas em comun, podemos unir diferentes bases, criando assim novas associações entre diferentes características do problema.

#### `slugs_intersect_columns()`:

    Função para encontrar as columnas em comum em um conjunto de dataframes

Podemos também encontrar as colunas únicas.

#### `slugs_difference_columns()`:

#### `slugs_merge_by_comon_columns()`:

#### `find_search_value_in_pdf()`:

Para acessar mais dados do que os disponíveis no site, em formato binário eficiente (Feather), usamos a API de ciência de dados da OWID. O método `catalog.find()` retorna um quadro de dados de correspondências.

#### `find_intersect_columns()`:

#### `find_merge_by_comonn_columns()`:

### Criando Classes

Instanciamos um objeto de `OWID`.

Procuramos pelo primeiro `slug`.

Procuramos por uma lista de fontes com tópicos semelhantes.

Guardamos em um dicionário as colunas relativas à cada base na lista de tópicos semelhantes.

Vamos fundir dataframes com tópicos semelhantes.

In [19]:
pdf_life_expectancy_output_merged_a

,years,entities,difference_in_female_and_male_life_expectancy_at_age_45,difference_in_female_and_male_life_expectancy_at_birth,life_expectancy_fm_diff__type_period__sex_both__age_0,obs_value__unit_of_measure_deaths_per_100_live_births__indicator_under_five_mortality_rate__sex_both_sexes__wealth_quintile_all_wealth_quintiles,population,classification
0,-10000,Afghanistan,NaN,NaN,NaN,NaN,1.473700e+04,NaN
1,-10000,Africa,NaN,NaN,NaN,NaN,1.118546e+06,NaN
2,-10000,Albania,NaN,NaN,NaN,NaN,1.199000e+03,NaN
3,-10000,Algeria,NaN,NaN,NaN,NaN,1.209000e+04,NaN
4,-10000,Andorra,NaN,NaN,NaN,NaN,2.500000e+01,NaN
...,...,...,...,...,...,...,...,...
80749,2100,Western Sahara,NaN,NaN,NaN,NaN,8.312930e+05,NaN
80750,2100,World,NaN,NaN,NaN,NaN,1.018016e+10,NaN
80751,2100,Yemen,NaN,NaN,NaN,NaN,1.100356e+08,NaN
80752,2100,Zambia,NaN,NaN,NaN,NaN,6.447392e+07,NaN
80753,2100,Zimbabwe,NaN,NaN,NaN,NaN,3.716657e+07,NaN

In [20]:
pdf_life_expectancy_output_merged_sorted_a

,years,entities,difference_in_female_and_male_life_expectancy_at_age_45,difference_in_female_and_male_life_expectancy_at_birth,life_expectancy_fm_diff__type_period__sex_both__age_0,obs_value__unit_of_measure_deaths_per_100_live_births__indicator_under_five_mortality_rate__sex_both_sexes__wealth_quintile_all_wealth_quintiles,population,classification
0,-10000,Afghanistan,NaN,NaN,NaN,NaN,1.473700e+04,NaN
1,-10000,Africa,NaN,NaN,NaN,NaN,1.118546e+06,NaN
2,-10000,Albania,NaN,NaN,NaN,NaN,1.199000e+03,NaN
3,-10000,Algeria,NaN,NaN,NaN,NaN,1.209000e+04,NaN
4,-10000,Andorra,NaN,NaN,NaN,NaN,2.500000e+01,NaN
...,...,...,...,...,...,...,...,...
80749,2100,Western Sahara,NaN,NaN,NaN,NaN,8.312930e+05,NaN
80750,2100,World,NaN,NaN,NaN,NaN,1.018016e+10,NaN
80751,2100,Yemen,NaN,NaN,NaN,NaN,1.100356e+08,NaN
80752,2100,Zambia,NaN,NaN,NaN,NaN,6.447392e+07,NaN
80753,2100,Zimbabwe,NaN,NaN,NaN,NaN,3.716657e+07,NaN

In [21]:
stop.here()

NameError: name 'stop' is not defined