## Módulo: Analytics Engineering

<br>

## Aula 1

### Programação da Aula 1:

> ### 1. **Apresentar o formulário de pesquisa**: 
https://forms.gle/w3Jq8XBZtQkqaopS8
> ### 2. **O que são camadas especializadas**;
> ### 3. **Implementando camadas especializadas**;
> ### 4. **Desenvolvimento de exercício**;


#### Link para o formulário de Feedback da aula:
https://forms.gle/wVkPSXAEMjXxCrze6

## Curso Banco de dados
https://comunidade.ada.tech/cursos/e82b3eb3-e58e-4ad7-b946-a034aa3ac508

<div style="text-align: center;">

<br>

## Geração de camadas especializadas

<img src="https://cms.databricks.com/sites/default/files/inline-images/building-data-pipelines-with-delta-lake-120823.png"  width="80%" height="60%">

###### Fonte: https://cms.databricks.com/sites/default/files/inline-images/building-data-pipelines-with-delta-lake-120823.png
<br>

### Instalação das bibliotecas para conectar com o banco de dados

In [ ]:
!pip install ipython-sql
!pip install sqlalchemy
!pip install psycopg2

### Chamada da biblioteca para usar o SQL

In [1]:
from sqlalchemy import create_engine, text as sql_text
%load_ext sql
%sql postgresql://postgres:ada@localhost/ada
engine = create_engine('postgresql://postgres:ada@localhost/ada')

In [ ]:
%%sql
SELECT *
FROM first_table

### Configuração com as informações do banco de dados

### Primeiro comando SQL

### Comando SQL com o Pandas

### Cria um dataframe Pandas e armazena no Banco de dados

In [ ]:
dados = {'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
         'idade': [30, 18, 67, 45, 19, 21, 25, 36, 46, 59, 72, 25, 37, 14, 59],
         'Local': ['Manaus', 'Fortaleza', 'Fortaleza', 'Sao Paulo', 'Sao Paulo', 'Belo Horizonte', 'Curitiba', 'Goiania', 'Manaus', 'Goiania', 'Belo Horizonte', 'Vitoria', 'Curitiba', 'Maceio', 'Rio de Janeiro']}

### Criar novos dados a partir de um DataFrame Pandas e insere na tabela criada

### API Alpha Vantage - extração de dados sobre finanças.
### Exemplo sobre a extração da série temporal dos resultados financeiros da IBM

In [2]:
%run ./config.ipynb

### Cria um Dataframe do Pandas a partir dos dados extraídos da API

### Prepara os tipos de cada coluna e depois armazena os resultados no banco na camada bronze

### Leitura da tabela bronze

### Padroniza o nome das colunas da tabela bronze

### Adiciona uma nova coluna calculada e efetua uma limpeza simples

### Define os tipos de dados e armazena os resultados como tabela silver

### Leitura da tabela silver

### Calcula os resultados por dia

### Prepara os tipos de cada coluna e armazena os dados na camada Gold